*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}



.paragraph{
    font-size: large;
    color:white;
    font-style: oblique;
    
}
.p1{
    color:white;
}
.image-container {
    display: flex;
    justify-content: center;
    height: 400px;
    

    
  }

.text {
    font-size: 18px;
    color: white;
}


.rand{
    font-size:20px;
}

li{
    display: inline;
    color: black;
    
    
 
}

h1{
    color:white;
    text-align: center;
    
}
h2{
    color: white;
    text-align: center;

}
h3{
    font-style: italic;
    color:white;
    text-align: center;
    font-size: x-large;
    
}
 h4{
    text-align: center;
    color: white;
}
h3{
    color: white;
    font-style: italic;
    font-size: 20px;
}
BODY{
    display: grid;
    grid-template-rows: auto 100vw auto;
    background-color: black;

}

/* On desktop screen */
.container {
    display: flex;
    justify-content: space-between;
}
.container .card {
    width: 30rem;
}
.container .card img {
    width: 20rem;
    aspect-ratio: 1/1;
}
/* 
max-width = width < 900px: targeting mobile
min-width = width > 990px -> desktop screen
targeting a range: 300px <= width <= 900px
*/
@media screen and (width < 900px) {
    .container {
        flex-flow: column wrap;
    }
}

header{
    background-image: url(https://i.postimg.cc/vTcwFR7p/Stunning-Ma-Xhosa-Design.png);
    position: sticky;
    padding: 5px;
    height: 200px;

}
body{
    display: grid;
}
footer{
    color: white;
    padding: 5px;
    width: auto;
    height:80px;
   
}
a:hover{
    text-decoration: none;
    color: white;
}
a, a:link{
    color: white;
    font-size: 25px;
   
}
