*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.p1,p2,p3{
    color:white;
}
.image-container {
    display: flex;
    justify-content: center;
    height: 400px;
    

    
  }

.text {
    font-size: 18px;
    color: white;
}


.rand{
    font-size:20px;
}

li{
    display: inline;
    color: black;
    
 
}

h1{
    color: black;
    
}
h2{
    font-style: italic;
    color:white;
    text-align: center;
    
}
 h4{
    text-align: center;
    color: white;
}
h3{
    color: white;
    font-style: italic;
    font-size: 30px;
}
BODY{
    display: grid;
    grid-template-rows: auto 100vw auto;
    background-image:url(https://i.postimg.cc/0QH8S4M8/images.jpg);

}

/* On desktop screen */
.container {
    display: flex;
    justify-content: space-between;
}
.container .card {
    width: 30rem;
}
.container .card img {
    width: 20rem;
    aspect-ratio: 1/1;
}
/* 
max-width = width < 900px: targeting mobile
min-width = width > 990px -> desktop screen
targeting a range: 300px <= width <= 900px
*/
@media screen and (width < 900px) {
    .container {
        flex-flow: column wrap;
    }
}


footer, header {
    background-image: url(https://i.postimg.cc/KvkkvPkX/download-7.jpg);
    position: sticky;
    padding: 5px;
    width: auto;
    height:100px
    

}